* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul {
    padding: 20px 0;
    margin: 0;
}

.navbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}

.navbar a:hover, .navbar a:focus {
    transform: rotate(180deg);
    background-color: black;
    color: white;
}

.intro {
    max-width: 95%;
    margin: auto;
}

.intro img {
    width: 70%;
    max-width: 420px;
}

@media (max-width: 550px) {

    .navbar li {
        float: none;
        width: 100%;
    }

    h1 {
        margin: 0;
    }
}
