* {
    font-family: 'Open Sans', sans-serif;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
}

a {
    text-decoration: none;
}

a:visited {
    color: #666666;
}

body {
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.navbar {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    float: left;
    width: 25%;
}

.navbar a {
    color: #666666;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 16px 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-transition: 10s ease-in-out;
    -moz-transition: 10s ease-in-out;
    -o-transition: 10s ease-in-out;
    transition: 10s ease-in-out;
}

.navbar a:hover, .navbar a:focus {
    background-color: black;
    transform: rotate3d(1, 2, -1, 1800deg);
}

.page-content {
    margin-top: 54px;
    height: 250px;
    position: relative;
    width: 100%;
}

@media (max-width: 550px) {
    .page-content {
        margin-top: 216px;
    }

    .navbar li {
        width: 100%;
        padding: 16px 0;
    }
}
