* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-size: 16px;
}

a {
    color: black;
}

img {
    width: 420px;
    max-width: 69%;
    margin: 0px 20px;
}

h1 {
    margin: 40px 0px;
}

.header a:hover, .header a:focus {
    background-color: black;
    color: white;
}

.splash h1 {
    font-size: 900%;
}

.splash p {
    padding-top: 42px; 
}

.header {
    padding-top: 10px;
}

.header ul {
    padding: 0;
    margin: 0;
}

.header li {
    list-style-type: none;
    float: left;
    width: 14.28%;
    text-align: center;
    padding: 5px 0px;
}

.header a {
    display: inline-block;
    font-weight: 100;
    text-decoration: none;
    letter-spacing: 2px;
}

@media (max-width: 800px) {

    img {
        max-width: 85%;
    }

    .content h1 {
        margin-top: 200px;
    }

    .splash h1 {
        font-size: 420%;
    }

    .header li {
        width: 100%;
    }
}